body {
    background-color: #e5e6e4;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.index-img{
    text-align: center;
}

.navbar ul{
background-color: #847577; margin:20px;
padding: 15px;
margin: 10px;

;
}
.navbar a{
    color: #e5e6e4;
    text-decoration: none;
    margin: 10px;
    font-size: larger;
    
    
}
.nav-right{
    float: right;
    margin-left: 20px;

}
#home-info{
    text-align: center;
    font-size:x-large;
    color: black;
    
}


#welcome{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #432818
}
.fa-solid{
    color: #847577;
    width: 30px;
}
.footer {

    background-color: #847577;

    text-align: center;

    color: #C4BEB5;

    text-decoration: none;

    padding: 10px; /* Add padding for better spacing */

    margin: 0; /* Remove default margin */

}



.footer a {

    text-decoration: none; /* Remove underline */

    color: #C4BEB5; /* Set link color */

    margin-right: 10px; /* Add margin between links */
    font-size: x-large;

}



/* .footer a:hover {

    text-decoration: underline;

} */

